body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


header {
  padding: 20px 0;
  background-color: black;

}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: Trebuchet MS;
  font-weight: 700;
  margin: 0;
  color: #88E18D;
  
}



header p {
  padding: 0 20px;
  font-size: 15px;
  color: white;
  
}

header nav {
  display: flex;
  justify-content: flex-end;
   
}
 
nav a {
	color: #87B138;
	font-size: 25px;
	font-weight: 600;
	
}

nav a:hover {
	color: #C1E977;
	text-decoration: none;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("media/jumbo.JPG");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  font-style: italic;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: black;
  text-shadow: 2px 0 white, 0 2px white, 0 -2px white, -2px 0 white;
}

#article {
	padding-bottom: 20px;
	font-family: Georgia;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.col-md-6 {
  margin: 0 0 30px;
  
}

.col-md-6 img {
  
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
	  
  }
#myCarousel {
	margin-top: 50px;
	margin-bottom: 50px;
}
//**Modal**//
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


//** Footer**//
  
footer {
  font-size: 15px;
  
  padding: 20px 0;
  background-color: #88E18D;
  
  //**background-color: #EECF89;**//
  }

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer .col-sm-4 {
	font-weight: 500;
	font-style: italic;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
